#top-planner {
  background-image: url('../planner/top-planner.png');
}

#row-planner {
  background-image: url('../planner/row-planner.png');
}

#bot-planner {
  background-image: url('../planner/bottom-planner.png');
}